.video {
  width: 100vw;
  overflow: hidden;
}
.video_content {
  width: 130px;
  height: 100px;
}
.video_content img {
  width: 90px;
  height: 90px;
  border-radius: 62px;
  padding: 10px;
}
.video_content_container {
  display: flex;
  align-items: center;
  height: 60%;
  min-width: 80%;
  overflow-x: scroll;
  padding-top: 30px;
  overflow-y: hidden;
}
.video_content_player {
  width: 70px;
  height: 100px;
}

#scrollbar1::-webkit-scrollbar {
  width: 5px;
}

#scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}
@media only screen and (max-width: 992px) {
  .video_content img {
    width: 50px;
    height: 50px;
    border-radius: 62px;
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .video_content img {
    width: 25px;
    height: 22px;
    border-radius: 26px;
  }
  .video_content_container {
    height: 30%;
    overflow-y: hidden;
  }
}
.react-player__shadow {
  display: none !important;
  content: "";
}
